
/* 760px */

.container {
  padding: 2%;
}

#tweet-text {
  border : 0px solid #000000;
  border-bottom-width : 2px;
  background-color : transparent;
  width: 90vw;
  height: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  font-family: 'Bungee', cursive;
  background: #4056A1;
  color: white;
  font-size: 90%;
}

.tweet-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

article {
  border: black;
  border-width: 2px;
  align-content: center;
  justify-content: center;
}

article.old-tweet-container {
  color: rgb(60, 56, 56);
  border: black;
  border-width: 2px;
  border : 2px solid #000000;
  margin: 2% 0 0 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

article.old-tweet-container:hover {
  box-shadow: 3px 3px 0 rgb(45, 42, 42);
}

article header {
  background-color: #e4d3c1;
  height: 120px;
  width: 98%;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  align-items: start;
  padding: 4% 2%
}

.icon-photo {
  padding-top: 5%;
  margin-left: 20%;
  background-color: #e4d3c1;
}

.icon-name {
  background-color: #e4d3c1;
  display: flex;
  width: 20%;
  justify-content: space-around;
  margin-bottom: 20%;
}

.article-body {
  display: flex;
  height: 4.5rem;
  border: 0px solid #000000;
  border-bottom-width: 2px;
  width: 85vw;
  padding: 1% 0 0 1%;
}

article footer {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  padding: 4% 2%;
  font-size: 0.75em;
  width: 90vw;
}

.tweethandle {
  color: gray;
}

.small-icon {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.small-icon i:hover {
  color: blue;
}

.error-message {
  display: none;
  height: 1.75rem;
  background-color: rgb(238, 144, 144);
  justify-content: center;
}


@media only screen and (min-width: 780px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  .container {
    padding-top: 20vh;
  }

  #tweet-text {
    width: 55vw;
  }

  article {
    display: flex;
    border: black;
    border-width: 2px;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  
  article.old-tweet-container {
    margin: 2% 0 0 0;
  }

  article header {
    height: 90px;
    width: 98%;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    align-items: start;
    padding: 1% 2em;
  }
  
  .article-body {
    width: 95%;
  }
  

  article footer {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    padding: 3% 3%;
    font-size: 0.75em;
    width: 100%;
  }
  
  .icon-photo {
    padding-top: 5%;
    background-color: #e4d3c1;
    margin-left: 2px;

  }

  .small-icon {
    width: 15%;
  }

}